.container{
    background-color: #FFFF66;
    font-family: Impact;
    
    
}

.style{
    background-image:url(http://buffaloeats.files.wordpress.com/2012/03/img_2124.jpg);
    
}


a:link {
    text-decoration: none;
    
}

